html, body, #app, div {
    display: flex;
}

#app, div {
    flex-direction: column;
}

ul {
    list-style: none;
}

.centered {
    text-align: center;
}

.completed {
    color: blue;
}

.todo {
    color: red;
}